# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm IDE files
.idea/

# Dataset
image_recognition/cifar-10-batches-py/
image_recognition/cifar-10-python.tar.gz

# Pickle Files
*.p
